@page
@using LibraryWebApp.Models
@model IndexModel
@inject HttpClient HttpClient


@{
    ViewData["Title"] = "Home page";

    IActionResult DisplayBook(int selectedBookId)
    {
        return Page();
    }
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Library</h1>
</div>

<div class="parent flex-parent">
    <div class="book-search">
        <form asp-page-handler="Books" method="post" class="child flex-child">
            <fieldset class="form-control">
                <legend>Search by Title</legend>
                <div>
                    <label for="BookTitle">Book Title:</label>
                    <input type="text" name="bookTitleKey" value="@Model.SearchedTitle" />
                </div>
                <div>
                    <label for="AuthorName">Author Name:</label>
                    <input type="text" name="authorNameKey" value="@Model.SearchedAuthor" />
                </div>
                <div>
                    <label for="PublisherName">Publisher Name:</label>
                    <input type="text" name="publisherNameKey" value="@Model.SearchedPublisher" />
                </div>
                <div>
                    <label>&nbsp;</label>
                    <input type="submit" value="Search" class="submit btn-outline-dark" />
                </div>
            </fieldset>
        </form>
    </div>

    @if (@Model.Books is not null && @Model.Books.Count > 0 && @Model.SelectedBook is null)
    {
        <div class="child flex-child">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <td><b>Book Title</b></td>
                        <td><b>Author</b></td>
                        <td></td>
                    </tr>
                </thead>

                @foreach (var book in @Model.Books)
                {
                    <tbody >
                        <tr>
                            <td>@book.title</td>
                            <td>@book.author.first_name @book.author.last_name</td>
                            <td>
                                <button class="btn-outline-dark" onclick="@(DisplayBook(book.id))">View</button>
                            </td>
                        </tr>
                    </tbody>
                }
            </table>
        </div>
    }
</div>

@if (@Model.SelectedBook is not null)
{
    <center>
        <div class="form-control">
            <p><b>Title: </b>@Model.SelectedBook.title </p>
        </div>
    </center>
}
